In [1]:
def my_func(l):
    result=1
    for i in l:
        result=result*i
    return result

In [2]:
my_func([2.2,3.4,4.6])

34.408

In [9]:
def index_of_list(l):
    for i in range(len(l)):
        print(f"The element:{l[i]} has index {i}")
    return "List has ended"

In [11]:
index_of_list(['hims','adsa',12,23])

The element:hims has index 0
The element:adsa has index 1
The element:12 has index 2
The element:23 has index 3

'List has ended'

In [13]:
l1=[12,3,4]
list(enumerate(l1))

[(0, 12), (1, 3), (2, 4)]

In [1]:
def len_count(s):
    count=0
    for i in s:
        count+=1
    print(f"The length of the given string is: {count}.")

In [4]:
len_count('abhishek')

The length of the given string is: 8.

In [3]:
def max_num(l1):
    max_num=0
    for num in l1:
        if num>max_num:
            max_num=num
    return max_num

In [4]:
max_num([1,2,3,4,6])

6

In [8]:
def min_num(l1):
    min_num=0
    for num in l1:
        if num<min_num:
            min_num=num
    return min_num

In [9]:
min_num([1,2,3])

0

In [12]:
l1=[1,1,1,2,3,4,2,1,2,3,4]
l2=list(set(l1))

In [13]:
l2

[1, 2, 3, 4]

In [22]:
l1
for i in l1:
    if l1.count(i)>1:
        l1.remove(i)
l1

[2, 3, 4]

In [21]:
l2=[1,2,3]
l1.remove(1)
l1

[2, 3, 4]

In [25]:
l1=[1,2,1,2,1,2,1,2,1,1,1,1,2]
l2=list(set(l1))

In [26]:
l2

[1, 2]

In [28]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
l1=[1,2,3,2,2]
l2=list(set(l1))

In [6]:
l2

[1, 2, 3]

In [1]:
def test1(a,b):
    return a+b

In [2]:
test1(1,2)

3

In [5]:
def test3(*args):
    return list(args)

In [6]:
test3(1,2,3,4)

[1, 2, 3, 4]

In [7]:
d1={'key1':'himanshu','key2':'salvekar'}
d1

{'key1': 'himanshu', 'key2': 'salvekar'}

In [13]:
d8={'player1':'Ronaldo','otherplayers':{'RM':'Marcelo','Barca':'Messi','PSG':'DiMaria'}}

In [15]:
d8['otherplayers']['PSG']

'DiMaria'

In [16]:
d1.keys()

dict_keys(['key1', 'key2'])

In [17]:
list(d1.keys())

['key1', 'key2']

In [18]:
d1.items()

dict_items([('key1', 'himanshu'), ('key2', 'salvekar')])

In [22]:
l=[]
for i in d8.keys():
    if type(d8[i])==dict:
        l.append(list(d8[i].values()))

In [23]:
l

[['Marcelo', 'Messi', 'DiMaria']]

In [24]:
d8.keys()

dict_keys(['player1', 'otherplayers'])

In [25]:
def test4(d):
    for i in d.keys():
        if type(d[i])==dict:
            return list(d[i].values())

In [26]:
test4(d8)

['Marcelo', 'Messi', 'DiMaria']

In [27]:
d8

{'player1': 'Ronaldo',
 'otherplayers': {'RM': 'Marcelo', 'Barca': 'Messi', 'PSG': 'DiMaria'}}

In [28]:
del d8['player1']

In [29]:
d8

{'otherplayers': {'RM': 'Marcelo', 'Barca': 'Messi', 'PSG': 'DiMaria'}}

In [30]:
def test5(**kwargs):
    return kwargs

In [31]:
test5(a=10,b=15,c=6)

{'a': 10, 'b': 15, 'c': 6}

In [32]:
def test6(a):
    return a
def test7(b):
    return b
def test8(func):
    return func('himan')

In [34]:
test8(test6)

'himan'

In [35]:
test6('himan')

'himan'

In [38]:
def test9(a):
    print("THis is test9")
    
    def test10():
        print("THis is test10")
    
    def test11():
        print("THis is test11")
    if a=='himan':
        return test10()
    elif a=='sal':
        return test

In [40]:
test9('himan')

THis is test9
THis is test10

In [1]:
def test1(a):
    return a
def test2(b):
    return b
def test3(func):
    return func("himanshu")

In [3]:
test3(test1)

'himanshu'

In [4]:
def test4(a):
    print("This is my test4")
    
    def test5():
        print("My test5")
    def test6():
        print("My test6")
    if a=='hima':
        return test5()
    elif a=='salv':
        return test6()

In [7]:
test4('salv')

This is my test4
My test6

In [12]:
def test99():
    def test100():
        print('This is test100')
    return test100()

In [13]:
test99()

This is test100

In [20]:
def test7(*args):
    print('This is a return of test7.')

In [23]:
def test8(func):
    def test9():
        print('This is test9.')
        func()
    return test9()

In [24]:
test8(test7)

This is test9.
This is a return of test7.

In [25]:
def test101(func):
    def test102():
        print("asas")
        func()
    return test102()

In [26]:
test101(test7)

asas
This is a return of test7.

In [28]:
test7()

This is a return of test7.

In [43]:
import os
def test10(func):
    def test11():
        print("This is test 11 and this will behave a decorator to any function that I call!")
        print(os.getcwd())
        
    return test11()

In [47]:
@test10
def test12():
    print("Test 12!")

This is test 11 and this will behave a decorator to any function that I call!
C:\Users\devas\Desktop\sample_project_1

In [48]:
def test12(func):
    def test13():
        print('inside 13')
        func()
        print('Function executed')
    return test13()

In [58]:
@test12
def test14():
    print('test14')

inside 13
test14
Function executed

In [60]:
l1=['hima','asasa','dini']
list(map(lambda a:a.upper(),l1))

['HIMA', 'ASASA', 'DINI']

In [63]:
l=[1,2,3,4,5,6,7,8,9,18,191,0]
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)

In [64]:
l1

[2, 4, 6, 8, 18, 0]

In [67]:
list(map(lambda num:num if num%2==0 else None,l))

[None, 2, None, 4, None, 6, None, 8, None, 18, None, 0]

In [68]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 18, 191, 0]

In [69]:
l1=[i for i in l if i%2==0]

In [70]:
l1

[2, 4, 6, 8, 18, 0]

In [1]:
def test20():
    def test21():
        print('Hello')
    return test21()

In [2]:
test20()

Hello

In [20]:
#wrapperFunction
def test1(func):
    def test2():
        print(func())
        print(type(func()))
        
    test2()

In [21]:
@test1
def test4():
    return 10

10
<class 'int'>

In [63]:
@test1
def test7():
    return "This is test7"

This is test7himans

In [86]:
def test8(func) :
    def test9(*args,**kwargs):
        func(*args,**kwargs)
        print(func(*args,**kwargs))
        print("this is my decorator functinon") 
        return func(*args,**kwargs)
    return test9

In [87]:
@test8
def test10(a,b):
    return a+b
test10(1,2)

this is my decorator functinon

In [25]:

def test1(func):
    def test2():
        print(func())
    test2()

In [26]:
@test1
def test3():
    return 3+55

58

In [31]:
def test4(func):
    def test5():
        print(func())
        print(type(func()))
    test5()

In [32]:
@test4
def test6():
    l1=[1,2,3,1,2,4,5,6,4,7,8,9]
    return list(filter(lambda num:num if num%2==0 else None,l1))

[2, 2, 4, 6, 4, 8]
<class 'list'>

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
spam=int(input())
if spam==1:
    print('H')
    print('asa')

1
H
asa

In [3]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [6]:
spam = 0
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

In [2]:
def length(string):
    ln=0
    for i in string:
        ln+=1
    return ln

In [3]:
length('Himanshu')

8

In [2]:
list(enumerate('hima'))

[(0, 'h'), (1, 'i'), (2, 'm'), (3, 'a')]

In [3]:
for i,a in list(enumerate('hima')):
    print(i,a)

0 h
1 i
2 m
3 a

In [8]:
print('asas',end=' ')
print('\n')
print('assa')

asas

assa

In [16]:
def star_prog(n):
    for i in range(1,n):
        print('*'*i)
        #print('\n')

In [18]:
star_prog(40)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************
***********************************
************************************
*************************************
**************************************
***************************************

In [20]:
print('aas')

aas

In [27]:
def concat(l):
    '''
    This function takes list as an input and concatenates all the elements in the list thereof.
    '''
    con_item=''
    for i in range(len(l)):
        if type(l[i])!=str:
            l[i]=str(l[i])
    for i in l:
        con_item+=i
    return con_item

In [31]:
concat([[1,2],[121,21],(1212)])

'[1, 2][121, 21]1212'

In [34]:
l1=[1,2,3,4,5]
list(enumerate(l1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [43]:
def list_index(l):
    """
    This function gives the index for all the elements inside a list.
    
    """
    for  i1,i2 in list(enumerate(l)):
        print(f"Index for {i2} is: {i1}")

In [44]:
list_index(['A',"B","C"])

Index for A is: 0
Index for B is: 1
Index for C is: 2

In [45]:
help(list_index)

Help on function list_index in module __main__:

list_index(l)
    This function gives the index for all the elements inside a list.

In [2]:
pip install  PyPDF2

Collecting PyPDF2
  Using cached pypdf2-2.11.2-py3-none-any.whl (220 kB)
Collecting typing_extensions>=3.10.0.0
  Downloading typing_extensions-4.4.0-py3-none-any.whl (26 kB)
Installing collected packages: typing-extensions, PyPDF2
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.7.4.3
    Uninstalling typing-extensions-3.7.4.3:
      Successfully uninstalled typing-extensions-3.7.4.3
Successfully installed PyPDF2-2.11.2 typing-extensions-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [3]:

import PyPDF2

# creating an object 
file = open('HimanshuSalvekar_Resume_PDF.pdf', 'rb')

# creating a pdf reader object
fileReader = PyPDF2.PdfFileReader(file)

# print the number of pages in pdf file
print(fileReader.numPages)


# creating a page object
pageObj = fileReader.getPage(0)
  
# extracting text from page
print(pageObj.extractText())
  
# closing the pdf file object
file.close()

1
HIMANSHU SHANTANU
SALVEKAR
B.Sc. - Computational Mathematics & Statistics
Ph: +91-8070008999
Email: 1132200308@mitwpu.edu.in
Pune, Maharashtra, India - 411033
Gender: Male
Marital Status: Unmarried
Current Address: B-308,Royal Court,Thergoan,Pune,411033, B-
308,Royal Court,Thergaon,Pune,411033, Pune, Maharashtra, India -
411033Date of Birth: Nov. 7, 2001
Known Languages: English,Hindi,Marathi
Phone Numbers: +91-8070008999, +91-8070008999,
+91-9881057133MySQL Python Statistical Data Analysis Pandas NumPy EDA Statistics
Emails: 1132200308@mitwpu.edu.in , hima.sal711@gmail.com
BRIEF OVERVIEW / CAREER OBJECTIVE / SUMMARY
I have done a Python bootcamp on Udemy and know SQL ,descriptive statistics ,inferential statistics and calculus required for the field of Data
Science and Data Analysis, and also know how to analyze data using Pandas and NumPy. And my career objective is to become a data-
scientist/analyst , and to be really efficient on the tools that are required for one to become a data-scientist/analyst.
KEY EXPERTISE / SKILLS
EDUCATION
2020  -  2023 MIT - Sciences
B.Sc. - Computational Mathematics & Statistics | CGPA: 8.98 / 10.00
2019 Pratibha College of Commerce and Science, Pune
12th | MSBSHSE | Percentage: 60.00 / 100.00
2018 Dr D Y Patil Public school, Pune
10th | BSEMH | Percentage: 88.20 / 100.00
PROJECTS
Tic Tac Toe, War(Card game) with Python
Key Skills: Python
I created two games namely Tic Tac Toe and War game which is a card game using python.
The projects gave me great amount of knowledge around entire python and made me confident about coding in Python.
ASSESSMENTS / CERTIFICATIONS
2022 Complete Python Bootcamp From Zero to Hero in Python
Key Skills: Python
PERSONAL INTERESTS / HOBBIES
Reading Self-help Books, Playing cricket and Badminton
IMs
WhatsApp - Himanshu Salvekar
PERSONAL DETAILS

In [55]:
def test2(func):
    return func()

In [56]:
def test1():
    print("asas")

In [58]:
test2(test1)

asas

In [16]:
def test3(*args):
    for i in args:
        print(i)
    
    print(args[3]['Name'])

In [17]:
test3((1212,122),[1,2,3],'asas',{'Name':'Himanshu','Roll':'03'})

(1212, 122)
[1, 2, 3]
asas
{'Name': 'Himanshu', 'Roll': '03'}
Himanshu

In [10]:
def test1(*args):
    for i in args:
        if type(i)==list:
            return i

In [11]:
test1([3,4,5,6],1,2,3,1223)

[3, 4, 5, 6]

In [14]:
s=list()
s.append(1)
s

[1]

In [15]:
d={"d":[12,3],1:"a"}

In [16]:
d.values()

dict_values([[12, 3], 'a'])

In [17]:
d.keys()

dict_keys(['d', 1])

In [19]:
d["d"]

[12, 3]

In [20]:

a=lambda num:num/2

In [23]:
a(2)

1.0

In [24]:
a=lambda x,y:(x+y,x*y)

In [25]:
a(2,3)

(5, 6)

In [34]:
a=lambda *a:a

In [35]:
a(2,3,1,2,3,4,5,6,7,8,9)

(2, 3, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [1]:
print('hello')

hello

In [1]:
def factorial(n):
    '''
    This function gives the factorial of any number you enter.
    
    '''
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

In [2]:
factorial(5)

120

In [6]:
help(factorial)

Help on function factorial in module __main__:

factorial(n)
    This function gives the factorial of any number you enter.

In [7]:
#factorial through while-loop! 
def factorial():
        
        
        n=int(input('Enter a number: '))
        fact=1
        i=1
        while i<=n:
            fact=fact*i
            i=i+1
        return fact

In [8]:
factorial()

Enter a number: 6

720

In [3]:
help(factorial)

Help on function factorial in module __main__:

factorial(n)
    This function gives the factorial of any number you enter.

In [11]:
factorial(5)

120

In [27]:
def list_fact(l):
    fact_list=[]
    for i in l:
        fact=1
        for i in range(1,i+1):
            fact=fact*i
        fact_list.append(fact)
        return fact_list

In [28]:
list_fact([5,3,3])

[120]

In [1]:
def test(*args,a):
    return args,a

In [3]:
test(1,2,3,4,a=45)

((1, 2, 3, 4), 45)

In [12]:
t=[112,('asas','awqas')]

In [14]:
t[1][1][1]

'w'

In [24]:
def test1(*args):
    for i in args:
        if type(i)==list:
            for x in i:
                if type(x)==str:
                    i.remove(x)
                    
    return i

In [25]:
test1(1,2,3,[1,12,13,'asasas',1,'imans',1212,'asas'])

[1, 12, 13, 1, 1212]

In [1]:
a=lambda a,b:(a*b,a+b)

In [2]:
a(2,3)

(6, 5)

In [3]:
a=lambda *a: a

In [4]:
a(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [8]:
x=lambda x:[i%2==0 for i in x]

In [9]:
x([1,2,3,4,5,6])

[False, True, False, True, False, True]

In [10]:
a=lambda x:[i+2 for i in x]

In [11]:
a([1,2,3,4,5])

[3, 4, 5, 6, 7]

In [14]:
l=[12,3,4,5,6,7,8,9,]
[(i**2,i+2) for i in l if i<7]

[(9, 5), (16, 6), (25, 7), (36, 8)]

In [15]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [17]:
d1={'k1':12}
d1['k2']=13
d1

{'k1': 12, 'k2': 13}

In [18]:
d1={}
for i in range(11):
    d1[i]=i**3

In [19]:
d1

{0: 0,
 1: 1,
 2: 8,
 3: 27,
 4: 64,
 5: 125,
 6: 216,
 7: 343,
 8: 512,
 9: 729,
 10: 1000}

In [20]:
(i for i in range(10))