In [24]:
'spam'*3

'spamspamspam'

In [25]:
"spam"+'spamspam'

'spamspamspam'

In [26]:
bacon=11

In [27]:
bacon=bacon+1

In [28]:
bacon

12

In [29]:
'hh'+'1'+'ss'

'hh1ss'

In [30]:
him=123
print(f"I have {him} no. of eggs")

I have 123 no. of eggs

In [31]:
1<3

True

In [32]:
dns=1
dfs=1.0
dns==dfs

True

In [33]:
x=2
y=3
x/y

0.6666666666666666

In [34]:
z=2+2j
z.real

2.0

In [35]:
y=212+3j

In [36]:
y.imag

3.0

In [37]:
class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

if class_started:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]1
Since class started...
Lets concentrate

In [38]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [39]:
myname=input('Please enter a name over here')
print(f"Your name ({myname}) has been noted.")

Please enter a name over heredede
Your name (dede) has been noted.

In [40]:
A=4
b=float(A)
b

4.0

In [41]:
fn,ln='himanshu','salvekar'
print(f"My gmail is {fn}.{ln}@gmail.com")

My gmail is himanshu.salvekar@gmail.com

In [42]:
a=int(input("Enter: "))
b=int(input("Enter: "))
print(f"Sum: {a+b}")
print(f"Div: {a/b}")
print(f"Mult: {a*b}")
print(f"Pow: {a**b}")

Enter: 2
Enter: 3
Sum: 5
Div: 0.6666666666666666
Mult: 6
Pow: 8

In [43]:
a=int(input("Enter a: "))
b=int(input("Enter b: "))
print(f"Sum: {a+b}")
print(f"Div: {a/b}")
print(f"Mult: {a*b}")
print(f"Pow: {a**b}")

Enter a: 2
Enter b: 3
Sum: 5
Div: 0.6666666666666666
Mult: 6
Pow: 8

In [44]:
fn=input("Please enter first name: ")
ln=input("Please enter last name: ")
print(f"{fn}.{ln}@gmail.com")

Please enter first name: f
Please enter last name: f
f.f@gmail.com

In [45]:
a=3+2j
type(a)

complex

In [46]:
a=3
A=complex(a)
A

(3+0j)

In [47]:
S="22"
s=float(S)
s

22.0

In [48]:
raining=False
if not raining:
    print("Let's play chess .")
else:
    print("Lets play cricket. ")

Let's play chess .

In [49]:
class_started=True
if not class_started:
    print("Lets revise.")
else:
    print("Lets focus.")

Lets focus.

In [50]:
class_started=bool(input("Has the class started?[0:False|1:True]: "))
if class_started:
    print("Hocus pocus focus")
else:
    print("Chill ")

Has the class started?[0:False|1:True]: 1
Hocus pocus focus

In [51]:
attd=int(input("Please put your attendance record: "))
assn=int(input("Please put your assignment record: "))
if attd>75 and assn>70:
    print("You are eligible for exam.")
else:
    print("You aren't eligible for exam.")

Please put your attendance record: 2
Please put your assignment record: 3
You aren't eligible for exam.

In [52]:
veg_present=True
salt_present=False
if veg_present and salt_present:
    print("It's a good dish!")
else:
    print("It's a bad dish!")
    print(f"because vegetable present:{veg_present}")
    print(f"because salt present:{salt_present}")

It's a bad dish!
because vegetable present:True
because salt present:False

In [53]:
cr_card=True
db_card=True
UPI=True
if cr_card or db_card or UPI:
    print("Make Payment")
else:
    print("COD?")

Make Payment

In [54]:
attd=44
assn=67
sports=True
if attd>=75 and assn>=70:
    if sports:
        print("Student's eligible.")
    else:
        print('Student is ineligible.')
        
    
else:
    print('Student is ineligible.')

Student is ineligible.

In [55]:
'''so in 'is' operator we also check the memory location, if the values of two variables have the same memory location then we can say that A is B 
'''
A=12
b=12
A is b

True

In [56]:
name=input("Please enter your name:")
if name=='Himanshu Salvekar':
    print("He's a sports player.")
else:
    print("He is only a student.")

Please enter your name:dds
He is only a student.

In [57]:
your_score=int(input("Please enter your score: "))
if your_score>33.33:
    print("You've passed!")
else:
    print("Failed!")

Please enter your score: 12
Failed!

In [58]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

False

In [59]:
A = 5.0
B = 10/2
print(A is B)

False

In [60]:
word=input("Enter a word: ")
if word==word[::-1]:
    print(f"{word} is a palindrome")
else:
    print(f"{word}'s not a palindrome")

Enter a word: radar
radar is a palindrome

In [61]:
var1=45
var2=34
var1%var2
#modulo gives us the remainder!

11

In [62]:
var1//var2
#'//' gives us the quotient of the division!

1

In [63]:
a=57
b=2
if a%b==0:
    print("a is even")
else:
    print("noteven")

noteven

In [64]:
name="Himanshu"
name[3:5]

'an'

In [65]:
name[-1]

'u'

In [66]:
name[::-1]

'uhsnamiH'

In [67]:
#07/Nov/2001
data=input("Please enter your birth-date: ")

day=data[0:2]
month=data[3:6]
year=data[7:]
print(f"User was born in the month of {month} of the year:{year} on date:{day}")

Please enter your birth-date: asas
User was born in the month of s of the year: on date:as

In [68]:
data.split('/')

['asas']

In [69]:
name='Himan'
name1='h'+name[1:]
name1

'himan'

In [70]:
name='Himanshu'
name=name.replace('H','hhh')
name

'hhhimanshu'

In [71]:
name

'hhhimanshu'

In [72]:
name=name.replace('hhh','H')

In [73]:
name

'Himanshu'

In [74]:
xy='s1s1sq'
xy=xy.replace('sq','Q')
xy

's1s1Q'

In [75]:
name="Himanshu Salvekar"
name[8]

' '

In [76]:
name='Himanshu Shantanu Salvekar'
name=name.replace(' _',' ')
name

'Himanshu Shantanu Salvekar'

In [77]:
fn,mn,ln=name.split()

In [78]:
fn.split()

['Himanshu']

In [79]:
name=input('Enter your name: ')
print(f"name in upper letters:{name.upper()}")
print(f"name in lower letters:{name.lower()}")
print(f"name in title letters:{name.title()}")
print(f"name in capitalize letters:{name.capitalize()}")
print(f"name in swapcase letters:{name.swapcase()}")

Enter your name: asasasa
name in upper letters:ASASASA
name in lower letters:asasasa
name in title letters:Asasasa
name in capitalize letters:Asasasa
name in swapcase letters:ASASASA

In [80]:
name='H i m a n s h u  S a l v e k a r'
''.join(name)
name=name.replace(' ','')
name

'HimanshuSalvekar'

In [81]:
name='Himanshu'
name.center(25,'$')

'$$$$$$$$$Himanshu$$$$$$$$'

In [82]:
name=' '
name.isspace()

True

In [83]:
n1='Himanshu'
n1.isupper()

False

In [84]:
name=input("Please enter your name: ")
print(f"User input:{name}")
if name.istitle():
    print("The input is in the correct form.")
elif name.isspace():
    print("Wrong input please try again")
else:
    print("The input's wrong we need to autocorrect it!")
    name=name.title()
    print(f"Correct output:{name}")

Please enter your name: asasa
User input:asasa
The input's wrong we need to autocorrect it!
Correct output:Asasa

In [86]:
phn_num='9887654gtgt'
phn_num.isdigit()

False

In [89]:
phn_num=input('Please enter your valid Indian phn no: ')
if phn_num.startswith("+91") and phn_num[1:].isdigit() and len(phn_num)==13:
    print("Give phone number is an Indian phone number.")
else:
    print(f"Given number:{phn_num} is invalid for further procession.")

Please enter your valid Indian phn no: +918796540706
Give phone number is an Indian phone number.

In [90]:
pn='asa766554'
pn.isalnum()

True

In [95]:
length=int(input('Please enter the length: '))
width=int(input('Please enter the width: '))
area=length*width
print(f"The area's:{area}")
if length==width:
           print("The polygon's a square.")
else:
    print("It's a rectangle.")

Please enter the length: 3
Please enter the width: 4
The area's:12
It's a rectangle.

In [98]:
year=int(input("Enter a year: "))
if year%4==0 and year%400==0:
    print("It's a leap year!")
else:
    print("It's not a leap year!")

Enter a year: 1600
It's a leap year!

In [15]:
total_amount=int(input("Please enter your entire shopping amount: "))
print(f"Cart Total:{total_amount}")
if total_amount>999:
    pad=total_amount*0.7
    print(f"Pay amount:{pad}")
elif total_amount>499 and total_amount<=999:
    pad=total_amount*0.8
    print(f"Pay amount:{pad}")
else:
    print(f"Pay Amount:{total_amount}")

Please enter your entire shopping amount: 899
Cart Total:899
Pay amount:719.2

In [11]:
val=float(input("Please put  number here: "))
if val>=0:
    if val==0:
        print("IT'S ZERO")
    else:
        print("It's a positive no.")
else:
    print("It's a negative number.")

Please put  number here: 0
IT'S ZERO

In [4]:
val=float(input("Enter a number: "))
print("YES" if val>99 else "NO")

Enter a number: 32
NO

In [10]:
total_marks=1000
cut_off=400
scores=[100,200,300,399,500]

year=0

while scores[year] < cut_off:
    print(f"Your score is:{scores[year]},cutoff:{cut_off}")
    print("I'll attempt next year")
    year=year+1

Your score is:100,cutoff:400
I'll attempt next year
Your score is:200,cutoff:400
I'll attempt next year
Your score is:300,cutoff:400
I'll attempt next year
Your score is:399,cutoff:400
I'll attempt next year

In [1]:
def test():
    pass

In [2]:
def test1():
    print("This is my first function")

In [4]:
test1()

This is my first function

In [5]:
def test2():
    return 5

In [6]:
d=test2()

In [7]:
d

5

In [8]:
def test3():
    return 'Himanshu'

In [9]:
test3() + 'Salvekar'

'HimanshuSalvekar'

In [10]:
def test4():
    return 1,2,[3,4],(4,56)

In [11]:
test4()

(1, 2, [3, 4], (4, 56))

In [12]:
test4()[1]

2

In [13]:
a,b,c,d=test4()

In [14]:
a

1

In [15]:
b

2

In [16]:
c

[3, 4]

In [17]:
d

(4, 56)

In [18]:
def test5():
    a=4*5+2
    return a

In [19]:
b=test5()

In [20]:
b

22

In [37]:
def test6(l):
    

    a=0
    for i in l:
        if type(i)==int:
    
           a=i+a
           print(a)

In [34]:
test6()

1
3
6
10
15
21

In [35]:
l1=[12,3,4,1,3,1,2,'him']

In [38]:
test6(l1)

12
15
19
20
23
24
26

In [40]:
def test7(a,b):
    return a+b

In [42]:
test7('himanshu','salvekar')

'himanshusalvekar'

In [43]:
test7(a=1,b=2)

3

In [48]:
l2=[1,2,3,4,5,'ashaj','asas']

In [56]:
def test8(l):
    '''this is my function to separate str from a list to a new list'''
    l1=[]
    for i in l:
        if type(i)==str:
            l1.append(i)
            print(l1)

In [57]:
test8(l2)

['ashaj']
['ashaj', 'asas']

In [1]:
notes=10
i=1
while i<=notes:
    print(f"current sum:{i*10}")
    i=i+1

current sum:10
current sum:20
current sum:30
current sum:40
current sum:50
current sum:60
current sum:70
current sum:80
current sum:90
current sum:100